.form-title {
	color: var(--black);
	margin-top: 30px;
	font-size: 2rem;
}

.form-box {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.submit-button {
	background-color: var(--smooth-purple);
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 6px;
	cursor: pointer;
	font-size: 20px;
	font-weight: bold;
	margin: 8px auto;
}

.submit-button:disabled {
	opacity: 0.6;
	cursor: not-allowed;
}

.input-error {
	height: auto;
	margin-top: 16px;
	max-width: 300px;
	display: flex;
	align-items: flex-end;
	color: #ff3333;
}

.signup-success {
	max-width: 300px;
	color: var(--success);
	text-transform: capitalize;
	line-height: 1.3;
}

.input-error.hidden {
	visibility: hidden;
}

.input-actiontext {
	margin: 10px 0px 30px;
}

.input-actiontext-link {
	text-decoration: none;
}

.error {
	max-width: 300px;
}
