.card {
  background: var(--white);
  padding: 1.25rem;
  border-radius: 0.75rem;
  border: 1px solid var(--border-color);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  transition: all 0.2s ease;
}

.card:hover {
  box-shadow:
    0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.card-title {
  color: var(--description);
  font-size: 0.875rem;
  font-weight: 500;
  text-transform: capitalize;
}

.card-content {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
}

.left-content {
  display: flex;
  flex-direction: column;
}

.card-value {
  color: var(--black);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: normal;
}

.right-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.change-value {
  font-size: 0.75rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 0.125rem;
}

.change-value-positive {
  color: #10b981;
}

.change-value-negative {
  color: #ef4444;
}

.tracking-text {
  display: none;
  font-size: 0.75rem;
  color: var(--label-color);
}

@media (max-width: 768px) {
  .card-value {
    font-size: 1.25rem;
  }
}
