.Container {
	max-width: 400px;
	min-width: 320px;
	margin: 64px auto;
}

.FormBox {
	display: flex;
	flex-flow: column;
	align-items: center;
	gap: 24px;
}

.Title {
	color: var(--black);
	margin: 8px auto;
}
