.block {
  display: flex;
  justify-content: center;
  background-color: var(--white);
  border-bottom: 1px solid var(--border-color);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 76px;
  padding: 1.25rem 0;
}

.mobile-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.35rem;
}

.brand {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  align-items: center;
  cursor: pointer;
  border: none;
  background-color: var(--white);
}

.brand-img {
  width: 36px;
  height: 36px;
  object-fit: contain;
}

.brand-name {
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: -0.02em;
  color: var(--black);
}

.nav-bar {
  display: flex;
  gap: 2.5rem;
  align-items: center;
}

.ml {
  margin-left: 0.4rem;
}

.nav {
  font-size: 1rem;
  text-decoration: none;
  font-weight: 500;
  color: var(--description);
  padding-bottom: 4px;
  position: relative;
}

.nav:hover {
  color: var(--primary);
  transition: all 0.3s ease-in-out;
  text-decoration: underline;
  text-decoration-color: var(--primary);
  text-decoration-thickness: 2px;
  text-underline-offset: 6px;
}

.active {
  color: var(--primary);
  text-decoration: underline;
  text-decoration-color: var(--primary);
  text-decoration-thickness: 2px;
  text-underline-offset: 6px;
}

/* This media query handles responsive styling like font-size, gaps, etc. down to 1024px */
@media only screen and (max-width: 1024px) {
  .brand-img {
    width: 32px;
    height: 32px;
  }

  .brand-name {
    font-size: 1.25rem;
  }

  .nav-bar {
    gap: 1rem;
  }

  .nav {
    font-size: 1rem;
  }

  .ml {
    margin-left: 0.25rem;
  }
}

@media only screen and (width < 1024px) {
  .nav-bar {
    display: none;
  }

  .mobile-header {
    display: flex;
    align-items: center;
    gap: 0.75rem;
  }

  .hamburger {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    justify-content: flex-end;
  }

  .hamburger-img {
    width: 24px;
    height: 24px;
  }
}

@media only screen and (max-width: 564px) {
  .brand-img {
    width: 28px;
    height: 28px;
  }

  .brand-name {
    font-size: 1.25rem;
    font-weight: 700;
  }

  .hamburger-img {
    width: 20px;
    height: 20px;
  }
}
