.drag-drop-section {
	padding: 64px 32px;
}

.drag-area {
	height: 250px;
	padding: 16px;
	border-radius: 5px;
	border: 2px dashed rgb(229 231 235);
	background-color: rgb(249, 250, 251);
	display: flex;
	flex-direction: column;
	gap: 10px;
	justify-content: center;
	align-items: center;
	user-select: none;
	-webkit-user-select: none;
	cursor: pointer;
	text-align: center;
}

.drag-drop-section .drag-area {
	font-size: 18px;
}

.drag-drop-section .select {
	color: #5256ad;
	cursor: pointer;
	font-weight: bold;
}

.drag-drop-section .file {
	display: none;
}

.image-select-error {
	color: #ff3333;
	line-height: 24px;
	margin: 16px auto;
	text-align: center;
}

@media screen and (max-width: 768px) {
	.drag-drop-section {
		padding: 32px 16px;
	}
}
