.image-table {
	width: 100%;
	text-align: center;
	font-size: var(--medium-text);
	line-height: 175%;
	border-spacing: 0;
	margin-top: 60px;
	border: var(--border);
	border-radius: var(--bradius);
}

.image-table thead tr th {
	background-color: rgb(226, 224, 224);
	padding: 8px;
	font-weight: 500;
	color: var(--smooth-gray);
}

.image-table tbody tr td {
	padding: 8px;
	font-weight: 400;
	color: var(--smooth-gray);
	border-top: var(--border);
}

.image-table .reupload-btn-column {
	display: grid;
	place-items: center;
}

.image-table .reupload-btn {
	padding: 6px 10px;
	border: none;
	border-radius: 99px;
	cursor: pointer;
}

.image-table .reupload-btn > svg {
	color: var(--smooth-gray);
	height: 20px;
	width: 20px;
}
